/*
Theme Name: asec
Theme URI: http://asec.com/
Author: Spaceshiplabs
Author URI: http://spaceshiplabs.com/
Description: Plantilla para asec
Version: 1.0
Text Domain: asec
*/

html{min-width: 320px;}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body{font-family: 'Open Sans',sans-serif;}
a{text-decoration:none;}
strong{font-weight: 700}
a,p,h1,h2,h3,h4,a[href],input,textarea,span{font-family: 'Open Sans', sans-serif}
.clear{clear: both}
#main{
	padding-bottom: 200px;
}
#main-content-asec{overflow: visible;}
#main-column{width: 100%;}

/*------------/
    #BORDERED-BTN
/*--------------*/
.bordered-btn{
    border: 1px solid #fff;
    padding: 5px;
}
.bordered-btn-block{
	display: inline-block;
	margin: 10px 0;
}

/*---------------/
	#CONTAINERS
/*---------------*/
.container{padding: 14px 0}

.container h1,
.container h2,
.container h3,
.container h4,
.container p{
	color:#666666;
	margin: 0;
}

.container-xxlg{
	margin: 0 auto;
	max-width: 1200px;
}

.container-xlg{
	margin: 0 auto;
	max-width: 1000px;
}
.container-lg{
	margin: 0 auto;
	max-width: 766px;
}
.container-md{
	margin: 0 auto;
	max-width: 640px;
}
.container-sm{
	margin: 0 auto;
	max-width: 500px;
}
.container-xsm{
	margin: 0 auto;
	max-width: 320px;
}
.center-content{
	text-align: center
}
.align-right{
	text-align:right;
}

.container h1,
.container h2{
	font-weight: 300;
}
.container-no-top{padding-top: 0}
.container-side-margin-left{
	margin-left: 5px;
}

.container-alt{background: #F9F9F9}

/*---------------/
	#BANNER
/*---------------*/
.banner{
	background: url(../images/dunas.jpg) center no-repeat;
	background-size: cover;
	/*background: #9B6244;*/
	padding: 34px 0;
}
.banner h1{
	color: #fff;
	font-weight: 300;
	font-size:36px;
	margin-top: 0;
}
.banner .banner-column{
	color: #fff;
	font-weight: 700;
	margin: 0 10px;
	padding: 8px 14px 0;
}
.banner .banner-column p{
	color:#fff;
	font-size: 14px;
	margin: 0;
}
.banner .banner-column strong{font-size: 34px}
.banner .banner-column a{font-weight:normal;color:white;}
.banner-column{border-right:1px solid #fff;}
.banner-column:last-child{border-right:none;}

.banner-graph{position:relative;}
.banner-graph ul{min-height: 500px; width:100%;margin-top:0;}
.banner-graph ul img{width:100%; max-height:455px; max-width:886px;}

.banner-graph ul li.radial-row-colors .layer{
	padding: 25px 0;
	background: #F98321; /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: linear-gradient(to right,  #F98321 0%,#EA5328 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F98321', endColorstr='#EA5328',GradientType=1 ); /* IE6-9 */

}
.banner-graph ul li.radial-row-colors .layer img{display: block;margin: 0 auto}
.banner-graph ul li.radial-row-colors .layer.radial-item a{color:white; border:2px solid white;}
.banner-graph ul li.radial-row-colors .layer.radial-item{margin:0;}
.banner-graph ul li{padding:0;margin:0}
.banner-graph .carousel-next{background: url(../images/der.png) center no-repeat;right:0;}
.banner-graph .carousel-back{background: url(../images/izq.png) center no-repeat;left:0}
.banner-graph .carousel-buttons{cursor: pointer;position:absolute; width:10%; height:20%; margin:0 auto;top:35%;}
.banner-graph .carousel-buttons:focus{outline:transparent;}

/*-----------/
    #TOOLBAR
/*----------*/
.header{background:#343667;}
.header .container{
    padding:40px 26px;
    height: auto;
}
.header h1,.header h1 p{color:#fff;}
.header nav a{
    font-size: 14px;
    margin: 0 8px;
}

/*--------------/
	#FILTERNAV
/*--------------*/
.filter-nav{
	border:1px solid #FF921F;
	list-style: none;
	padding: 0;
}
.filter-nav a{
	color:#FF921F;
	display: block;
	font-size: 13px;
	padding: 4px 8px;
	text-transform: uppercase;
}
.filter-nav a:hover{
	background: #FF921F;
	color: #fff;
}


/*-------------/
	#RADIAL
/*-------------*/
.radial-chart{
	width: 160px;
	height: auto;
	margin: 20px auto;
	box-sizing: border-box;
}

.ring-chart{
	height: 200px;
	width: 100%;
}

.radial-chart text{font-weight: 700}

.radial-chart,
.radial-chart-label,
.radial-chart .arc{
	fill: #1976AF;
	color: #1976AF!important;
}

.radial-chart-alt,
.radial-chart-label-alt,
.radial-chart-alt .arc{
	fill: #E43F2B;
	color: #E43F2B!important;
}



.radial-item{margin: 30px 0}

.radial-item-margin{
	padding: 10px 18px;
	text-align: justify;
	margin: 10px 0;
}

.radial-item p{
	font-size: 13px;
}
.radial-item .big-text{
	font-size: 30px;
}
.radial-item h3{font-size:13px;font-weight:700;}
.radial-item:nth-child(1) h3{color:#1878AB}
.radial-item:nth-child(2) h3{color:#FF921D}
.radial-item:nth-child(3) h3{color:#E53E2B}
.radial-item:nth-child(4) h3{color:#2D3057}
.radial-item:nth-child(6) h3{color:#1878AB}
.radial-item:nth-child(7) h3{color:#FF921D}
.radial-item:nth-child(8) h3{color:#E53E2B}
.radial-item:nth-child(9) h3{color:#2D3057}


/*-----------/
	#RADIAL-ROW-COLORS
/*-----------*/
.radial-row-colors .radial-item .bordered-btn{
	padding: 5px 40px;
	font-size: 13px;
	text-transform: uppercase;
}
.radial-row-colors .radial-item:nth-child(1) .bordered-btn{color:#1878AB; border: 2px solid #1878AB}
.radial-row-colors .radial-item:nth-child(2) .bordered-btn{color:#FF921D; border: 2px solid #FF921D}
.radial-row-colors .radial-item:nth-child(3) .bordered-btn{color:#E53E2B; border: 2px solid #E53E2B}
.radial-row-colors .radial-item:nth-child(4) .bordered-btn{color:#2D3057; border: 2px solid #2D3057}


/*-----------/
	#COLUMNS-CONTAINER
/*-----------*/
.columns-container{}
.columns-container .column-item h3{
	color:#fff;
	font-weight: 300;
}
.columns-container .column-item h3 + p{margin-top: 10px}

.columns-container .column-item p{
	color:#fff;
	font-size: 14px;
}
.columns-container .column-item{
	background: #E33E2B;
	padding: 20px;
}

.columns-container .column-item:nth-child(2){
	background: #343667;
}
.columns-container .column-item .big-text{font-size: 32px;}
.columns-container .column-item .bordered-btn{color:#fff}

.columns-container .column-item-alt{background: #F9F9F9!important;}
.columns-container .column-item-alt:nth-child(2){border-left: 4px solid #fff;}
.columns-container .column-item-alt p{color:#666666}



/*------------/
	#FOOTER
/*-----------*/

#footer{
  background: #040F23;
  padding: 16px 0;
  height: auto;
  min-height: 200px;
  margin-top: -200px;
}
#footer p{
	color:#fff;
	font-size:12px;
}

#footer .small-note{
  font-size: 11px;
  padding: 20px;
}
#footer .footer-column{margin: 10px 0}

#footer div{text-align:left;}
#footer div h4{
	font-weight:400;
	font-size: 14px;
	margin: 0 20px;
}
#footer div a{color:white;}
#footer .icon{padding-left:30px; margin:9px;min-height: 28px}
#footer .geo{background: url(../images/pin.png) 4px 4px no-repeat;}
#footer .phone{background: url(../images/tel.png) 4px 4px no-repeat;}
#footer .mail{background: url(../images/mail.png) 4px 4px no-repeat;}

/*---------------/
	#SYMBOL-MAP
/*---------------*/
#data-map-home {
	/*min-width: 800px;
	width: 100%;*/
	width: 600px;
	height: 600px;
  /*position: relative;
  margin: 0 auto;
  width: 750px;
  height: 500px;*/
}

#data-map-home path {
  fill: #D3F0FF;
  stroke: #fff;
  /*stroke-linejoin: round;
  stroke-linecap: round;*/
}

#data-map-home circle{
	cursor: pointer;
}

#data-map-home circle:hover{
	opacity: 1;
}

#data-map-home .mun:hover{
	cursor: pointer;
	/*fill: #343667;*/
}

/*-------------/
	#BUBBLE-CHART
/*------------*/
.bubble-chart-wrap{text-align: left;}
.bubble-chart-wrap h4,
.bubble-chart-wrap p{font-weight: 300;}

.bubble-chart-wrap h4{
	margin-bottom: 10px;
	margin: 0;
}
.bubble-chart-wrap h4 strong{
	font-size:18px;
	color:#333565;
}
.bubble-chart-wrap h4 + p{
	font-size: 14px;
	margin-top: 14px;
}

.bubble-chart-tip{
	background: rgba(250,250,250,0.9);
	border: 1px solid #BEBEBE;
	border-radius: 2px;
	max-width: 200px;
	padding: 6px 8px;
	text-align: center;
}

.bubble-chart-tip:after{
	content:'';
	position: absolute;
	top:100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 7px 0 7px;
	border-color: rgba(250,250,250,0.9) transparent transparent transparent;
}

.bubble-chart-tip hr{
	height: 0;
	border: 1px solid #BEBEBE;
	max-width: 80%;
	margin: 0 auto;
}


.bubble-chart-tip p{
	color: #666666;
	font-size: 12px;
	margin: 5px 0;
}

.bubble-chart-tip strong{
	text-transform: uppercase;
}

.bubble-chart-tip .quantity{
	color: red;
	font-size: 16px;
}

#bubble-chart{
	width: 300px;
	width: 95%;
	min-width: 300px;
	height: 400px;
	min-height: 400px;
	margin: 0 auto;
}

.asec-chart{padding: 10px}

.asec-chart circle{
	cursor: pointer;
	transition: fill .3s ease-out;
}

.asec-chart circle:hover {
	/*fill: #009966;*/
	opacity: 1;
}

/*---------------/
	#MAP-TIP
/*---------------*/
.map-tip{
	background: #272A55;
	border: 0;
}
.map-tip p{color: #fff;}

.map-tip:after{
	border-color: #272A55 transparent transparent transparent;
}

/*---------------/
	#CUSTOM-ORDERED-LIST
/*--------------*/
.custom-ordered-list{
	margin: 10px 0;
	list-style-type: none;
	padding: 0;
}
.custom-ordered-list li{
	color:#fff;
	font-size:13px;
	padding: 8px;
}

.custom-ordered-list li a{
	color: #fff;
	display: block;
	padding-left: 40px
}

.custom-ordered-list li:nth-child(odd){
	background-color: rgba(0,0,0,0.1);
}

/*---------------/
	#TITLE-BLOCK
/*---------------*/
.title-block{
	background:#fff;
	color:#E33E2B;
	padding: 24px 0;
}
.title-block img{max-width: 40px}
.title-block h1{
	/*color: #E13E2B;*/
	color: #FF4E3A;
	font-weight: 700;
	font-size: 26px
}
#documents .title-block h1{
  color:#1C78A8;
}
.title-block h2{
	color:#666666;
	font-size: 16px
}

/*---------------/
	#FEED-LIST
/*---------------*/
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y{background-color: #FF911E}

.feed-list-scroller {
    white-space: normal;
    height: 500px;
    overflow-y: hidden;
    position: relative;
}

.feed-list h4{text-align: left;}

.feed-list .main-color,
.feed-list .alt-color{
	font-size: 12px;
	text-transform: uppercase;
}

.feed-list .main-color,
.feed-list .main-color a,
.feed-list .main-color p{color: #FF921F}
.feed-list .alt-color,
.feed-list .alt-color a,
.feed-list .alt-color p{color: #1976B1}

.feed-list p,
.feed-list strong,
.feed-list span,
.feed-list a{
	color:#8B8B8B;
	margin: 4px 0;
	font-size: 12px;
}
.feed-list strong{}

.feed-list p{
	font-size: 13px;
}


.feed-list-item{
	margin: 6px 0;
	white-space:normal;
}
.feed-list-item-top{cursor: pointer;}

.feed-list-item-title,
.feed-list-item-content,
.feed-list-item-status,
.feed-list-item-num{
	border: 2px solid #FF911E;
	padding: 4px 10px;
}

.feed-list-item:hover .feed-list-item-title,
.feed-list-item:hover .feed-list-item-status{
	background: #1976B1;
	border: 2px solid #1976B1;
	color: #fff!important;
}
.feed-list-item:hover,
.feed-list-item:hover a{
	color: #fff!important;
}

.feed-list-item-title,
.feed-list-item-content{
	margin: 0;
}

.feed-list-item-title{
	font-weight: 700;
	border-right: 0;
	text-align: left;
}
.feed-list-item-status{color: #FF911E!important}


.feed-list-item-status-not{
	background: url(../images/cruz.png) center center no-repeat;
	width: 18px;
}

.feed-list-item-status-ok{
	background: url(../images/palomita.png) center center no-repeat;
	width: 18px;
}

.feed-list-item-num{
	background: #FF911E;
	color: #fff!important;
}
.feed-list-item-num a{
	color: #fff;
}
.feed-list-item-btn{
	background: #1976B1;
	border: 2px solid #1976B1;
	color: #fff;
}

.feed-list-item-btn a{
	color: #fff;
	display: block;
	font-weight: 700;
}

.small-note{font-size: 11px;}

/*---------------/
	#STATS
/*--------------*/
.stats-container p{
	color:#fff;
	font-size: 12px;
}

.stats-count{
	background: #E33E2B;
	padding: 20px 30px;
	margin-bottom: 5px;
}

.stats-count p{
	color:white;
}
.stats-count h4{
	color:#fff;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 12px;
	text-align: center;
}

.stats-count .radial-item{
	margin: 7px 11px;
}

.stats-count .radial-item p{color:#fff}
.stats-count .radial-item .big-text{font-size: 18px}


.stats-count-alt{background: #FD8D21}

/*-------------------/
	#DOCS-LIST
/*------------------*/
.docs-list-scroller {
    white-space: normal;
    /*height: 215px;*/
    overflow-y: hidden;
    position: relative;
}

.docs-list-scroller.docs-list-scroller-all {
    height: 500px;
}

.docs-list{
	color: #fff;
	background: #1C78A9;
	padding: 20px;
}

.docs-list h4{
	color:#fff;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 12px;
	text-align: center;
}

.docs-list ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.docs-list-item{
	background-size: 22px 25px;
	line-height: 1.2;
	white-space: normal;
	overflow: hidden;
	padding: 10px 10px 10px 40px;
}

.docs-list-item a{
	color: #fff;
	display: block;
	font-size: 12px;
	line-height: 1.2;
	font-weight: 700;
}

.docs-list-item + .docs-list-item{border-top: 1px solid #CECECE;}

.docs-list-item-parent{
	background: none;
	border: 0!important;
	padding-left: 10px;
	padding: 0;
}

.docs-list-item-parent > a{
	cursor: pointer;
	background: #16719E url(../images/folder.png) 10px center no-repeat;
	padding: 12px 12px 12px 45px;
	position: relative;
}

.docs-list-item-parent > .caret{
	background: url(../images/flechalado.png) 4px center no-repeat;
	height: 22px;
	position: absolute;
	top: 4px;
	right: 20px;
	width: 20px;
}

.docs-list-item-parent > .caret-down{
	background: url(../images/flechaabajo.png) 4px center no-repeat;
	right: 20px;
	width: 28px;
}

.docs-list-item-parent > ul{
	margin-left: 40px
}

.docs-list .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y{background-color: #fff}

/*---------------/
	#DOCUMENTS
/*--------------*/
.docs-item{
	background: url(../images/pdf-icon.png) 4px center/22px 25px no-repeat;
}
.docs-item.xls{
	background-image: url(../images/xls-icon.png);
}
.docs-item.xlsx{
	background-image: url(../images/xls-icon.png);
}
.docs-item.doc{
	background-image: url(../images/doc-icon.png);
}
.docs-item.docx{
	background-image: url(../images/doc-icon.png);
}


.docs-relative{
  position: relative;
  margin-bottom: 70px;
}

.docs-relative .documentFilter{
  position: absolute;
  width: 100%;
  background: red;
  padding: 7px;
	background: #F98321; /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: linear-gradient(to right,  #F98321 0%,#EA5328 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F98321', endColorstr='#EA5328',GradientType=1 ); /* IE6-9 */
}

.docs-relative .documentFilter input{
  background:transparent;
  border: none;
  padding: 4px 50px 4px 4px;
  color: white;
}

.docs-relative .documentFilter input::-webkit-input-placeholder {
  color: white;
}

.docs-relative .documentFilter input:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.docs-relative .documentFilter input::-moz-placeholder {  /* Firefox 19+ */
  color: white;
}

.docs-relative .documentFilter input:-ms-input-placeholder {
  color: white;
}

.docs-relative .documentFilter input:focus{
  outline: white;
}

.docs-relative .documentFilter p{
  padding-left: 30px; margin:9px;min-height: 28px;
  background: url(../images/search.png) 4px 4px no-repeat;
  display: inline-block;
  border: 1px solid white;
}


/*------------------/
	#LOADING-WRAPPER
/*-----------------*/
.loading-wrapper{
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
}

.loading-wrapper-small{width: 60px}

.loading-wrapper-abs{
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}


/*--------------/
	#SECTION-TITLE
/*-------------*/
.section-title{
	padding: 20px 10px;
	background: #F98321; /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: linear-gradient(to right,  #F98321 0%,#EA5328 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F98321', endColorstr='#EA5328',GradientType=1 ); /* IE6-9 */
	text-align: center;
}
.section-title h1{
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	margin: 0;
}

.section-title .quantity{
	margin: 0;
	color: #fff;
	font-size: 38px;
	font-weight: 700;
}

/*------------------/
	#SEPARATOR-TOP
/*------------------*/
.separator-top + .separator-top{
  border-top: 1px solid #fff;
  padding-top: 14px;
  margin-top: 14px;
}

/*----------------/
		#YEAR-SELECTOR
/*----------------*/
.year-selector{padding: 0 2px}
.year-selector .bordered-btn{
	border: 2px solid #858585;
	color: #858585;
	cursor: pointer;
	font-weight: 700;
	text-align: center;
}

.year-selector .bordered-btn + .bordered-btn{margin-left: 4px}

.year-selector .bordered-btn.active-btn,
.year-selector .bordered-btn.active-btn span,
.year-selector .bordered-btn:hover,
.year-selector .bordered-btn:hover span{
	background: #858585;
	color: #fff;
}

.year-selector .bordered-btn span{
	color: #858585;
	font-size: 14px;
}

/*--------------------/
	#INFO-LIST
/*-------------------*/
.info-list{
	list-style: none;
	padding-left: 0;
	white-space: normal;
}

.info-list-collection{
	white-space: normal;
	list-style-type: none!important;
	padding: 0;
}

.info-list-scroller{
  white-space: normal;
  height: 260px;
  overflow-y: hidden;
  position: relative;
}

.info-list-item-parent > a{
	background: #FF8800;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	padding:  10px 12px;
	position: relative;
}

.info-list-item-parent > a > span,
.info-list-item-parent > a > strong{
	color: #fff;
	font-size: 15px;
}

.info-list-item-parent .caret{
	background: url(../images/flechalado.png) 4px center no-repeat;
	height: 22px;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	right: 20px;
	width: 20px;
}

.info-list-item-parent .caret-down{
	background: url(../images/flechaabajo.png) 4px center no-repeat;
	right: 20px;
	width: 28px;
}

.info-list-item-parent > ul{
	padding-left: 0;
}

.info-list-item strong,
.info-list-item p{margin: 0}

.info-list-item .feed-list-item-top{margin: 4px 0}
.info-list-item .feed-list-item-content{border-top: 0}
.info-list-item .feed-list-item-title{padding: 8px 4px}
.info-list-item .feed-list-item-url{
	/*border-left: 0;*/
	background: url(../images/link.png) center no-repeat;
	border-right: 0;
	margin: 0;
	width: 16px;
}
.info-list-item .feed-list-item-doc{
	background-image: url(../images/doc-cri.png);
}


@media screen and (max-width: 1000px){
	/*------------/
		#CONTAINER
	/*------------*/
	.container{padding: 14px;}
}

@media screen and (max-width: 960px){
	.map-tip{display: none;}
}

@media screen and (max-width: 600px){
	.header .container{
		padding: 40px 8px;
	}
	.header h1{
		font-size: 12px;
		margin-right: 10px;
	}
	.header nav a{
		font-size: 12px;
		margin: 0 2px;
	}
	.columns-container .column-item{
		float: none;
		width: 100%;
	}

	.columns-container .column-item p{font-size: 13px;}

	.dimple-graph svg{/*margin-left: -30px*/}

  .banner-graph{
    display:none;
  }

	#footer .icon{margin: 9px 0}
	#footer h4{
		font-size: 14px;
		margin: 0!important;
	}
	#footer .logo-img{max-width: 150px}
}


