<!doctype html>
<html class="no-js" ng-app="asecApp" ng-controller='MainCtrl'>
  <head>
    <base href="/" >
    <meta name="fragment" content="!">

    <meta name="google-site-verification" content="5PbgMpJh86ZUmqCfrq3MVoz5MH0IAawkAzHuWXi8G0g" />

    <title ng-bind="meta.title"></title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="{{meta.description }}">
    <meta name="keywords" content="{{ meta.keywords }}">

    <meta property="og:title" content="{{meta.title}}" />
    <meta property="og:type" content="profile" />
    <meta property="og:url" content="{{meta.url}}" />
    <meta property="og:image" content="{{meta.url}}/site.png" />


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/perfect-scrollbar/src/perfect-scrollbar.css" />
    <link rel="stylesheet" href="bower_components/angular-carousel/dist/angular-carousel.css" />
    <link rel="stylesheet" href="bower_components/viewport-grid/dist/viewport-grid.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/radialProgress.css -->
    <link rel="stylesheet" href="styles/radialProgress.css">
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/stickyFooter.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>

    <div id="wrap">
      <div id="main" class="clearfix">
        <div id="topBackRepeat" layout='row' flex layout-fill>

          <div layout="column" id="main-column" flex>

            <div ng-include="'/views/header.html'"></div>
            <md-content id="main-content-asec" ng-view ng-cloak>
            </md-content>

          </div>
        </div><!-- END topBackRepeat -->
      </div><!-- END main -->
    </div><!-- END wrap -->
    <div class="clear"></div>

    <div ng-include="'/views/footer.html'"></div>



    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/perfect-scrollbar/src/perfect-scrollbar.js"></script>
    <script src="bower_components/angular-perfect-scrollbar/src/angular-perfect-scrollbar.js"></script>
    <script src="bower_components/d3-tip/index.js"></script>
    <script src="bower_components/topojson/topojson.js"></script>
    <script src="bower_components/angular-contentful/dist/angular-contentful.js"></script>
    <script src="bower_components/showdown/src/showdown.js"></script>
    <script src="bower_components/angular-markdown-directive/markdown.js"></script>
    <script src="bower_components/angular-carousel/dist/angular-carousel.js"></script>
    <script src="bower_components/dimple/dist/dimple.v2.1.4.min.js"></script>
    <script src="bower_components/angular-dimple/dist/angular-dimple.js"></script>
    <!-- endbower -->
    <!-- endbuild -->


        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/Please.js"></script>
        <script src="scripts/radialProgress.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/homeCTL.js"></script>
        <script src="scripts/controllers/municipioCTL.js"></script>
        <script src="scripts/directives/bubbleChart.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <script src="scripts/controllers/document.js"></script>
        <script src="scripts/filters/municipiobyname.js"></script>
        <script src="scripts/filters/toarray.js"></script>
        <!-- endbuild -->


</body>
</html>
