<div class="banner" hide-sm>
    <div class="container container-lg center-content">
        <div btf-markdown="mainContent.subtitulo"></div>
        <div layout="row" layout-md="column" layout-sm="column">
            <div class="banner-column" flex ng-repeat='cifra in mainContent.cifrasPrincipales' btf-markdown="cifra"></div>
        </div>
    </div>
</div>

<div class="banner-graph">
    <ul rn-carousel rn-carousel-index="bannerGraphImgsIndex">
        <li ng-repeat="graph in bannerGraphImgs" class="radial-row-colors">
            <div class="layer radial-item">
                <img ng-src="{{graph.image}}">
            </div>
        </li>
    </ul>
    <div ng-if="bannerGraphImgs.length > 1">
      <a  class="carousel-buttons carousel-next" ng-click="carouselNext()"></a>
      <a class="carousel-buttons carousel-back" ng-click="carouselBack()"></a>
    </div>

</div>


<div class="container container-xlg center-content" ng-include="'/views/municipiosMap.html'"></div>

<div class="container-alt">
    <div class="container container-xlg center-content">
        <div btf-markdown='mainContent.tituloDescripciones'></div>

        <div layout="row" layout-md="column" layout-sm="column" layout-wrap class="radial-row radial-row-colors" layout-md="column" layout-sm="column">
            <div flex='33' flex-md="100" flex-sm="100" class="radial-item radial-item-margin" ng-repeat='desc in mainContent.descripciones' btf-markdown='desc'></div>
        </div>

    </div>
</div>

<!-- <div class="container container-xlg center-content" btf-markdown='mainContent.tituloFooter'></div> -->

<div ng-if="randomMun.documentos" class="columns-container" layout="row" layout-md="column" layout-sm="column">
    <div class="column-item" flex="50" flex-md="100" flex-sm="100">
        <div class="container container-sm">
            <h3 ng-bind="randomMun.datos_entidad.nombre_completo"></h3>
            <p>Documentos de {{randomDocsKey}}</p>
            <ul class="custom-ordered-list">
                <li ng-class='getFileExt(doc.nombre_archivo)' class='docs-item' ng-repeat="doc in randomMun.documentos.generales[randomDocsKey] | objectLimitTo:limitDocs">
                    <a target="_blank" ng-href="{{doc.url}}" >{{doc.subconcepto}} | {{doc.anio}} - {{doc.nombre_archivo}} </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="column-item" flex="50" flex-md="100" flex-sm="100">
        <div class="container container-sm">
            <h3 ng-bind="randomMun.datos_entidad.nombre_completo"></h3>
            <p ng-bind='randomMun.datos_entidad.descripcion_corta' ></p>
            <p><a ng-href="/municipio/{{randomMun.datos_entidad.id}}" class="bordered-btn bordered-btn-block">Ver municipio</a></p>
        </div>
    </div>
</div>


