<div  ng-show="!isLoaded" class="loading-wrapper loading-wrapper-abs" layout="column" layout-fill layout-align="center center">
    <md-progress-circular class="md-warn" md-mode="indeterminate"></md-progress-circular>
</div>

<div class="loaded-wrapper" ng-if="isLoaded">
    <div class="container center-content title-block">
        <p><img src="/images/book.png" alt=""></p>
        <h1 ng-bind="municipio.datos_entidad.nombre_completo"></h1>
        <h2>Región {{municipio.indicadores[1].valor}}</h2>
    </div>

    <div class="section-title">
        <h1>Índice de Información Presupuestal Municipal 2014</h1>
        <p class="quantity">{{municipio.porcentaje_cumplimiento['2014'].porcentaje_cumplimiento}}%</p>
    </div>

    <div class="container-alt">
        <div class="columns-container" layout="row" layout-md="column" layout-sm="column">
            <div class="column-item column-item-alt" flex="50" flex-md="100" flex-sm="100">
                <div class="container container-sm center-content">
                    <h2>Ingresos per cápita de {{municipio.datos_entidad.nombre}}</h2>
                    <p><strong> vs promedio municipal en Coahuila de ingresos per cápita</strong></p>
                    <div class="radial-item">
                        <graph data="ingresos_egresos" class="ring-chart" width="100%" height="520px">
                            <r field="valor"></r>
                            <graph-legend></graph-legend>
                            <ring field="concepto" diameter="80" thickness="15"></ring>
                        </graph>
                        <p class="radial-chart-label">Ingresos per cápita 2014 {{municipio.datos_entidad.nombre}} </p>
                        <p class="radial-chart-label"><strong class="big-text">{{ingresos_per_capita.valor | currency:'$'}}</strong></p>
                    </div>

                </div>
            </div>
            <div class="column-item column-item-alt" flex="50" flex-md="100" flex-sm="100">
                <div class="container center-content">
                    <h2>Egresos por clasificador por objeto del gasto</h2>
                    <p><strong>Dividido por capítulo</strong></p>


                    <div class="radial-item">
                        <graph data="egresos" class="ring-chart" width="100%" height="520px">
                            <r field="valor"></r>
                            <graph-legend></graph-legend>
                            <ring field="Descripción" diameter="80" thickness="15"></ring>
                        </graph>
                        <p class="radial-chart-label">Presupuesto de egresos 2014 (Adenda)</p>
                        <p class="radial-chart-label"><strong class="big-text">{{presupuestoEgresos.valor | currency:'$'}}</strong></p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container container-xlg">
        <div>
            <div layout="row" layout-sm="column">

                <div class="feed-list" flex="50" flex-sm="100">
                    <div class="container container-no-top">
                        <div class="container docs-list">
                            <h4>Documentos</h4>
                            <ul>
                                <li ng-repeat="(key,folder) in municipio.documentos.generales track by $index" class="docs-list-item docs-list-item-parent">
                                    <a ng-click="toggleFolder = !toggleFolder" class="docs-list-item-parent">
                                        {{key}}
                                        <span ng-class="{'caret-down' : toggleFolder}" class="caret"></span>
                                    </a>

                                    <ul ng-show="toggleFolder">
                                        <li ng-repeat="(key,doc) in folder| toArray  | orderBy : '-anio' | orderBy : 'subconcepto'" class="docs-list-item docs-item" ng-class='getFileExt(doc.nombre_archivo)' >
                                            <a target="_blank" ng-href="{{doc.url}}" >
                                                {{doc.subconcepto}} <span ng-if='doc.subconcepto'>|</span> {{doc.anio}} - {{doc.nombre_archivo}}</a>
                                        </li>
                                    </ul>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <h4>Índice de información presupuestal municipal</h4>

                        <div class="year-selector" layout="row">
                            <a  flex="50"
                                ng-class="{'active-btn': selectedYear=='2014'}"
                                ng-click="setYear('2014')"
                                class="bordered-btn">
                                <span>2014</span>
                            </a>

                            <a  flex="50"
                                ng-class="{'active-btn': selectedYear=='2015'}"
                                ng-click="setYear('2015')"
                                class="bordered-btn">
                                <span>2015</span>
                            </a>
                        </div>

                        <div class="year-group">
                           <ul class="info-list">
                               <li class="info-list-item info-list-item-parent" ng-repeat="(key,tema) in municipio.criterios[selectedYear]">

                                    <a href="#" ng-click="toggleTema = !toggleTema" class="">
                                        <span>{{key}}</span> <strong>({{ showSize(tema) }})</strong>
                                        <span ng-class="{'caret-down' : toggleTema}" class="caret"></span>
                                    </a>

                                    <ul ng-show="toggleTema" class="info-list-collection">
                                        <li ng-repeat="criterio in tema"
                                            class="feed-list-item-top"
                                            >

                                            <div layout="row" >
                                                <p class="feed-list-item-title"
                                                    ng-click="showContent = !showContent"
                                                    flex
                                                    ng-bind="criterio.concepto"></p>


                                                <a
                                                    ng-repeat="doc in criterio.documentos | limitTo:1"
                                                    ng-href="{{doc.url_documento}}"
                                                    target="_blank"
                                                    class="feed-list-item-status feed-list-item-url feed-list-item-doc">
                                                </a>


                                                <a
                                                    ng-repeat="doc in criterio.documentos | limitTo:1"
                                                    ng-href="{{doc.url}}"
                                                    target="_blank"
                                                    class="feed-list-item-status feed-list-item-url">
                                                </a>

                                                <strong ng-if="criterio.porcentaje_cumplimiento == 0" class="feed-list-item-status feed-list-item-status-not"></strong>
                                                <strong ng-if="criterio.porcentaje_cumplimiento == 1" class="feed-list-item-status feed-list-item-status-ok"></strong>

                                            </div>

                                            <div ng-show="showContent">
                                                <p class="feed-list-item-content" flex ng-bind="criterio.respuesta_criterio"></p>
                                            </div>

                                        </li>
                                    </ul>

                               </li>
                           </ul>
                        </div>

                    </div>
                </div>

                <div class="stats container-side-margin-left" flex="50" flex-sm="100">
                    <div class="stats-count container stats-count-alt">
                        <h4>Cuentas Públicas 2014</h4>
                        <div class="separator-top" ng-repeat='(key,category) in municipio.cuentas_publicas[2014]'>
                            <p ng-if="key != 'Gastos y Otras Pérdidas'"><strong ng-bind='key'></strong></p>
                            <div class="radial-item" ng-repeat='dato in category' >
                                <p layout='row'>
                                    <span flex ng-bind='dato.concepto'></span>
                                    <span ><strong ng-bind='dato.valor | currency:"$" '></strong></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="stats-count container">
                        <h4>Valuación Actuarial 2013</h4>
                        <div class="separator-top" ng-repeat='(key,category) in municipio.valuacion_actuarial[2013]'>
                            <p layout="row">
                                <strong ng-bind='key'></strong>
                            </p>
                            <div class="radial-item">
                                <p layout="row" layout-align="end center">
                                    <strong class="align-right" offset="20" flex="20">Hombres</strong>
                                    <strong class="align-right" flex="20">Mujeres</strong>
                                    <strong class="align-right" flex="20">Total</strong>
                                </p>
                            </div>
                            <div class="radial-item" ng-repeat='dato in category' >
                                <p layout='row'>
                                    <span flex ng-bind='dato.concepto'></span>
                                    <span class='align-right' flex='20' ng-bind='dato.valor_hombre | currency:"":0 '></span>
                                    <span class='align-right' flex='20' ng-bind='dato.valor_mujer| currency:"":0 '></span>
                                    <span class='align-right' flex='20'><strong ng-bind='dato.valor_total | currency:"":0 '></strong></span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
